<div id='_id_fp'
     ng-class="!fluidPanel.frame.fullScreen ? 'panel panel-primary fluid-task' : 'panel panel-default frame-fullscreen'"
     class="fluid-panel">
    <div ng-if="fluidPanel" class="panel-heading" ng-if="!task.locked">
        <div class="panel-title">
            <div class="left">

                <a ng-if="fluidPanel.loaded && !fluidPanel.frame.fullScreen" href="#" class="fluid-panel-heading-title"
                   data-toggle="collapse"
                   data-target="#collapse_{{task.fluidId}}">
                    <fluid-task-icon class="hidden-xs hidden-sm hidden25 btn-group btn-group-xs"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </a>
                <span ng-if="fluidPanel.loaded && fluidPanel.frame.fullScreen" class="fluid-panel-heading-title">
                    <fluid-task-icon class="hidden-xs hidden-sm hidden25 btn-group btn-group-xs"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </span>

                <fluid-loader ng-if="!fluidPanel.loaded" class="fluid-panel-loader"></fluid-loader>
            </div>
            <fluid-breadcrumb ng-if="fluidPanel && fluidPanel.loaded"
                              fluid-panel="fluidPanel"></fluid-breadcrumb>

            <fluid-taskcontrols class="controls"></fluid-taskcontrols>
        </div>
    </div>
    <div ng-if="fluidPanel" id="collapse" class="panel-collapse collapse in">
        <div id="_id_fpb" class="panel-body container-fluid">
            <fluid-option></fluid-option>
            <fluid-message id="fluidPanelMsg"></fluid-message>
            <fluid-tool2 ng-if="task.showToolBar" class="width100pc"></fluid-tool2>
            <fluid-page id="fluid_page"
                        page="fluidPanel.pages[fluidPanel.fluidBreadcrumb.currentPage()]"
                        fluid-panel="fluidPanel"
                        class="{{task.showToolBar ? 'toolbar':''}}"></fluid-page>
        </div>
    </div>
    <script ng-if="fluidPanel" id="menu_option" type="text/ng-template">
        <div class="container-fluid"></div>
    </script>

</div>