<div class="container-fluid frame-content"
     ng-class="fluidFrameService.fullScreen ? 'frame-fullscreen' : 'frame-fluidscreen'">
    <div ng-if="fluidFrameService.fullScreen" class="container-fluid frame-content-div"
         ng-show="fluidFrameService.fullScreen">
        <fluid-panel task='fluidFrameService.fullScreenTask'></fluid-panel>
    </div>
    <div ng-if="!fluidFrameService.fullScreen" class="container-fluid frame-content-div"
         ng-hide="fluidFrameService.fullScreen">
        <div ng-init="initTask(task)"
             ng-repeat='task in fluidFrameService.taskList | filter:{active:true, title:fluidFrameService.searchTask}'>
            <fluid-panel task='task'></fluid-panel>
        </div>
    </div>
    <div class="fluid-footer portlet box color portlet-primary" ng-show="fluidFrameService.actionBarShowing"
         ng-class="fluidFrameService.actionBarClass">
        <div class="portlet-header">
            <div class="tools"></div>
        </div>
        <div class="portlet-body">
            body
        </div>
        <!--<div class="pull-right">Powered by <a href="#www.jsofttechnologies.com">JSoft Technologies</a> of GEM</div>-->
    </div>

</div>
