<div id='_id_fp' ng-class="!frame.fullScreen ? 'panel-primary fluid-task' : 'panel-default frame-fullscreen'"
     class="panel fluid-panel">
    <div class="panel-heading" ng-if="!task.locked">
        <div class="panel-title">
            <a href="#" class="fluid-panel-heading-title" data-toggle="collapse" data-target="#collapse_{{task.id}}">
                <fluid-task-icon class="hidden-xs hidden-sm hidden25 btn-group btn-group-xs"></fluid-task-icon>
                <span ng-if="fluidPanel.loaded">{{task.title}}</span>
            </a>
        </div>
        <fluid-loader ng-if="!fluidPanel.loaded" class="fluid-panel-loader"></fluid-loader>
        <div class="fluid-panel controls">
            <fluid-taskcontrols></fluid-taskcontrols>
        </div>
    </div>

    <div id="collapse" class="panel-collapse collapse in">
        <div id="_id_fpb" class="panel-body container-fluid">
            <fluid-option></fluid-option>
            <fluid-message id="fluidPanelMsg"></fluid-message>
            <fluid-tool2 ng-if="task.showToolBar" class="width100pc"></fluid-tool2>
            <fluid-page id="fluid_page" page="task.page"
                        class="width100pc {{!task.showToolBar ?'noToolbar':''}}"></fluid-page>
        </div>
    </div>

</div>