<div id='_id_fp'
     ng-class="!fluidPanel.frame.fullScreen ? 'panel panel-default fluid-task ' + size : 'panel panel-default frame-fullscreen col-lg-12'"
     class="fluid-panel">
    <div class="panel-heading" ng-if="!task.locked">
        <div class="panel-title">
            <div class="left">
                <a ng-if="fluidPanel && !progress.inProgress && !fluidFrame.progress.inProgress && !fluidPanel.frame.fullScreen"
                   href="#" ng-click="collapsePanel()"
                   class="fluid-panel-heading-title">
                    <fluid-task-icon class="hidden-xs hidden-sm hidden-md hidden25"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </a>
                <span ng-if="fluidPanel && !progress.inProgress && !fluidFrame.progress.inProgress && fluidPanel.frame.fullScreen"
                      class="fluid-panel-heading-title">
                    <fluid-task-icon class="hidden-xs hidden-sm hidden-md hidden25"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </span>
                <fluid-loader ng-if="progress.inProgress || fluidFrame.progress.inProgress"
                              class="fluid-panel-loader"></fluid-loader>
            </div>
            <fluid-breadcrumb
                    ng-if="fluidPanel && !fluidFrame.progress.inProgress && !progress.inProgress"></fluid-breadcrumb>

            <fluid-taskcontrols ng-if="fluidPanel" class="controls"></fluid-taskcontrols>
        </div>
    </div>
    <div fluid-progress id="_id_fp_mp" class="panel-collapse"
         ng-class="fluidFrame.fullScreen ? 'collapse in': !task.collapsed ? 'collapse in' : 'collapse' "
         asynchronous="true">
        <div ng-if="fluidPanel" id="_id_fpb" class="panel-body container-fluid">
            <fluid-option></fluid-option>
            <!--
            * FluidProgress
            * FluidMessage
            -->
            <fluid-tool ng-if="task.showToolBar" class="width100pc"></fluid-tool>
            <fluid-page id="_id_fp_p"
                        fluid-panel="fluidPanel"
                        class="{{task.showToolBar ? 'toolbar':''}}"></fluid-page>

        </div>
    </div>
    <script ng-if="fluidPanel" id="menu_option" type="text/ng-template">
        <div class="container-fluid"></div>
    </script>
    <script id="_id_fp_msg" type="text/ng-template">
        <div class="fluid-message">
            <p><span class="message-icon"> <i ng-class="fluidMessage.icon"></i> </span> {{fluidMessage.message}}</p>
        </div>
    </script>

</div>