<div class='form-group flow-form'><label column="12" class='control-label'>{{label}}<span style='color: #ea520a'
                                                                                          ng-show='required'>*</span></label>

    <div column="12"><input placeholder='{{format}}' name='{{name}}' ng-change='convertToTimestamp()'
                            ng-disabled='disabled' class='form-control datepicker' ng-model='temp' type='text'
                            ng-required='required'/></div>
</div>