<span class="fluid-taskcontrols">
      <div class="hidden-xs hidden-sm hidden-md hidden25 btn-group btn-group-xs">
          <button id="{{control.getId($index)}}" type="button" ng-if="control.visible()" ng-disbabled="control.disabled()"
                  class="{{control.uiClass}}"
                  ng-repeat="control in fluidPanel.controls| reverse"
                  ng-class="control.class"
                  ng-click="control.action(task,$event)"><i class="{{control.glyph}} control-glyph"></i></button>
      </div>
      <div class="hidden100 hidden50 hidden75 btn-group btn-group-xs small">
          <a href="#" class="icon dropdown-toggle fa-inverse" data-toggle='dropdown'>
              <fluid-task-icon task="task"></fluid-task-icon>
          </a>
          <ul class='dropdown-menu dropdown-menu-right dropdown-menu-inverse'>
              <li id="{{control.getId($index)}}" ng-repeat="control in fluidPanel.controls| reverse"
                  ng-if="control.visible() || control.disabled()"
                  ng-class="control.class">
                  <a href="#" ng-click="control.action(task,$event)">{{control.label}}</a>
              </li>
          </ul>
      </div>
</span>

