<div class='container-fluid animated fadeIn anim-dur' style='overflow: auto'>
    <div class="ndg-breadcrumb">
        <ul class='breadcrumb hidden-xs hidden-sm hidden50' show-on-fullscreen="true">

            <li class="pull-left"
                ng-repeat='page in task.navPages'>
                <a ng-class="task.page.name == page.name ? 'plain-text':''" title='{{page.title}}' href='#'
                   ng-click='goToEvent(page.name,page.param)'>{{page.title}}</a>
            </li>
            <div class='form-group pull-right'>
                <div class='btn-group {{group-size}}'>
                    <button id='btn_tool_{{control.id}}_{{task.id}}' ng-repeat='control in controls'
                            title='{{control.label}}'
                            class='btn button-tool' ng-class='getClass(control.uiType)'
                            ng-click='runEvent(control,$event)'
                            ng-disabled='control.disabled' type='button'><span ng-class='control.glyph'></span></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </ul>
        <div class='breadcrumb hidden100'>
            <!--TODO: create modal for fluidTask-->
            <div class="pull-left">
                <a ng-class="task.page.name == task.navPages[0].name ? 'plain-text':''"
                   title='{{task.navPages[0].title}}' href='#'
                   ng-click='goToEvent(task.navPages[0].name,task.navPages[0].param)'>{{task.navPages[0].title}}</a>
                <a ng-if="task.navPages.length > 1" href="#"><i class="fa fa-caret-down"></i></a>
            </div>
            <!-- TODO: create fluidOption template tag -->
            <div class='form-group pull-right'>
                <div class='btn-group {{group-size}}'>
                    <button id='btn_tool_{{control.id}}_{{task.id}}' ng-repeat='control in controls'
                            title='{{control.label}}'
                            class='btn button-tool' ng-class='getClass(control.uiType)'
                            ng-click='runEvent(control,$event)'
                            ng-disabled='control.disabled' type='button'><span ng-class='control.glyph'></span></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>