<div id='_id_fp'
     ng-class="!fluidPanel.frame.fullScreen ? 'panel panel-primary fluid-task ' + size : 'panel panel-default frame-fullscreen col-lg-12'"
     class="fluid-panel">

    <div ng-if="fluidPanel" class="panel-heading" ng-if="!task.locked">
        <div class="panel-title">
            <div class="left">
                <a ng-if="fluidPanel.loaded && !fluidPanel.frame.fullScreen" href="#" class="fluid-panel-heading-title"
                   data-toggle="collapse"
                   data-target="#_id_fp_mp_{{task.fluidId}}_progress">
                    <fluid-task-icon class="hidden-xs hidden-sm hidden-md hidden25"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </a>
                <span ng-if="fluidPanel.loaded && fluidPanel.frame.fullScreen" class="fluid-panel-heading-title">
                    <fluid-task-icon
                            class="hidden-xs hidden-sm hidden-md hidden25"></fluid-task-icon>
                    <span>{{task.title}}</span>
                </span>

                <fluid-loader ng-if="!fluidPanel.loaded"
                              class="fluid-panel-loader"></fluid-loader>
            </div>
            <fluid-breadcrumb ng-if="fluidPanel && fluidPanel.loaded"></fluid-breadcrumb>

            <fluid-taskcontrols class="controls"></fluid-taskcontrols>
        </div>
    </div>
    <div fluid-progress id="_id_fp_mp" class="panel-collapse collapse in">
        <div id="_id_fpb" class="on-complete panel-body container-fluid">
            <fluid-option></fluid-option>
            <!--
            * FluidProgress
            * FluidMessage
            -->
            <fluid-tool ng-if="task.showToolBar" class="width100pc"></fluid-tool>
            <fluid-page ng-if="fluidPanel" id="_id_fp"
                        page="fluidPanel.pages[fluidPanel.fluidBreadcrumb.currentPage()]"
                        fluid-panel="fluidPanel"
                        class="{{task.showToolBar ? 'toolbar':''}}"></fluid-page>


        </div>
    </div>
    <script ng-if="fluidPanel" id="menu_option" type="text/ng-template">
        <div class="container-fluid"></div>
    </script>

</div>