<div class="container-fluid frame-content"
     ng-class="fluidFrameService.fullScreen ? 'frame-fullscreen' : 'frame-fluidscreen'">

    <bootstrap-viewport></bootstrap-viewport>
    <div ng-if="fluidFrameService.fullScreen" class="frame-content-div" column="12"
         ng-show="fluidFrameService.fullScreen" style="padding: 0;">
        <fluid-panel task='fluidFrameService.fullScreenTask'></fluid-panel>
    </div>
    <div ng-if="!fluidFrameService.fullScreen" class="container-fluid frame-content-div fluid-frame-div"
         ng-hide="fluidFrameService.fullScreen">
        <div ng-init="initTask(task)" class="fluid-panel-transition fluid-frame-task"
             ng-repeat='task in fluidFrameService.taskList | filter:{active:true, title:fluidFrameService.searchTask}'>
            <fluid-panel task='task'></fluid-panel>
        </div>
    </div>
    <div class="fluid-footer panel panel-primary" ng-show="fluidFrameService.actionBarShowing"
         ng-class="fluidFrameService.actionBarClass">
        <div class="panel-heading">
            <div class="tools"></div>
        </div>
        <div class="panel-body">
            body
        </div>
        <!--<div class="pull-right">Powered by <a href="#www.jsofttechnologies.com">JSoft Technologies</a> of GEM</div>-->
    </div>

</div>
