<div>
<style>
    #{{getElementFlowId('followingBallsG')}} {
        position:relative;
        width:205px;
        height:16px;
    }

    .followingBallsG{
        background-color:#3647FF;
        position:absolute;
        top:0;
        left:0;
        width:16px;
        height:16px;
        -moz-border-radius:8px;
        -moz-animation-name:bounce_followingBallsG;
        -moz-animation-duration:2.2s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-direction:normal;
        -webkit-border-radius:8px;
        -webkit-animation-name:bounce_followingBallsG;
        -webkit-animation-duration:2.2s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:normal;
        -ms-border-radius:8px;
        -ms-animation-name:bounce_followingBallsG;
        -ms-animation-duration:2.2s;
        -ms-animation-iteration-count:infinite;
        -ms-animation-direction:normal;
        -o-border-radius:8px;
        -o-animation-name:bounce_followingBallsG;
        -o-animation-duration:2.2s;
        -o-animation-iteration-count:infinite;
        -o-animation-direction:normal;
        border-radius:8px;
        animation-name:bounce_followingBallsG;
        animation-duration:2.2s;
        animation-iteration-count:infinite;
        animation-direction:normal;
    }

    #{{getElementFlowId('followingBallsG_1')}} {
        -moz-animation-delay:0s;
    }

    #{{getElementFlowId('followingBallsG_1')}} {
        -webkit-animation-delay:0s;
    }

    #{{getElementFlowId('followingBallsG_1')}} {
        -ms-animation-delay:0s;
    }

    #{{getElementFlowId('followingBallsG_1')}} {
        -o-animation-delay:0s;
    }

    #{{getElementFlowId('followingBallsG_1')}} {
        animation-delay:0s;
    }

    #{{getElementFlowId('followingBallsG_2')}} {
        -moz-animation-delay:0.22s;
        -webkit-animation-delay:0.22s;
        -ms-animation-delay:0.22s;
        -o-animation-delay:0.22s;
        animation-delay:0.22s;
    }

    #{{getElementFlowId('followingBallsG_3')}} {
        -moz-animation-delay:0.44s;
        -webkit-animation-delay:0.44s;
        -ms-animation-delay:0.44s;
        -o-animation-delay:0.44s;
        animation-delay:0.44s;
    }

    #{{getElementFlowId('followingBallsG_4')}} {
        -moz-animation-delay:0.66s;
        -webkit-animation-delay:0.66s;
        -ms-animation-delay:0.66s;
        -o-animation-delay:0.66s;
        animation-delay:0.66s;
    }

    @-moz-keyframes bounce_followingBallsG{
        0%{
            left:0px;
            background-color:#3647FF;
        }

        50%{
            left:189px;
            background-color:#B5D0FF;
        }

        100%{
            left:0px;
            background-color:#3647FF;
        }

    }

    @-webkit-keyframes bounce_followingBallsG{
        0%{
            left:0px;
            background-color:#3647FF;
        }

        50%{
            left:189px;
            background-color:#B5D0FF;
        }

        100%{
            left:0px;
            background-color:#3647FF;
        }

    }

    @-ms-keyframes bounce_followingBallsG{
        0%{
            left:0px;
            background-color:#3647FF;
        }

        50%{
            left:189px;
            background-color:#B5D0FF;
        }

        100%{
            left:0px;
            background-color:#3647FF;
        }

    }

    @-o-keyframes bounce_followingBallsG{
        0%{
            left:0px;
            background-color:#3647FF;
        }

        50%{
            left:189px;
            background-color:#B5D0FF;
        }

        100%{
            left:0px;
            background-color:#3647FF;
        }

    }

    @keyframes bounce_followingBallsG{
        0%{
            left:0px;
            background-color:#3647FF;
        }

        50%{
            left:189px;
            background-color:#B5D0FF;
        }

        100%{
            left:0px;
            background-color:#3647FF;
        }

    }

</style>
<div id="followingBallsG">
    <span id="followingBallsG_1" class="followingBallsG">
    </span>
    <span id="followingBallsG_2" class="followingBallsG">
    </span>
    <span id="followingBallsG_3" class="followingBallsG">
    </span>
    <span id="followingBallsG_4" class="followingBallsG">
    </span>
</div>
</div>