<div class="fluid-frame" ng-class="!frame.fullScreen ?'default-frame':'full'">
    <bootstrap-viewport></bootstrap-viewport>
    <fluid-panel ng-if="frame.fullScreen" class="fullscreen" task='frame.task' frame="{{frame.name}}"
                  fluid-fullscreen-height></fluid-panel>
    <div ng-if="!frame.fullScreen">
        <div class="fluid-frame-task">
            <fluid-panel task="task" frame="{{frame.name}}"
                          ng-repeat='task in frame.tasks | filter:{active:true}'></fluid-panel>

        </div>
    </div>
</div>
