<div class="container-fluid fluid-frame" fluid-resize-frame>
    <bootstrap-viewport></bootstrap-viewport>

    <div ng-if="frame.fullScreen" class="frame-content-div" column="12"
         ng-show="frame.fullScreen" style="padding: 0;">
        <fluid-panel task='frame.fullScreenTask'></fluid-panel>
    </div>

    <div ng-if="!frame.fullScreen">
        <div class="fluid-frame-task">
            <fluid-panel2 task="task"
                          ng-repeat='task in frame.tasks | filter:{active:true}'></fluid-panel2>

        </div>

    </div>


</div>
