<div class="fluid-breadcrumb" ng-init="item=[]">
    <div class="item" ng-repeat="bread in breadcrumb.pages" ng-class="item[$index].active">
        <span ng-mouseover="item[$index].showClose=true && $index > 0;item[$index].active='hovered'"
              ng-mouseleave="item[$index].showClose=false;item[$index].active='default'">
            <span class="label" ng-class="breadcrumb.current === $index ?'active':''"
                  ng-click="breadcrumb.open(bread,$index,$event)">{{bread}}</span>
            <i ng-if="item[$index].showClose" class="fa fa-close text-danger" title="Close {{bread}}"
               ng-click="breadcrumb.close(bread,$index,$event)"></i>{{$index < (breadcrumb.pages.length -1) ? ' | ':'' }}
        </span>
    </div>
</div>