<div class="fluid-toolbar">
    <div class="btn-toolbar hidden-xs hidden-xs hidden-md" role="toolbar">
        <div class="btn-group btn-group-sm">
            <button ng-if="control.visible()" ng-disabled="control.disabled()" class="{{control.class}}"
                    ng-repeat="control in task.controls" ng-class="control.uiClass"
                    type="{{control.type}}" title="{{control.label}}"
                    ng-click="control.action(task,$event)"><i class="{{control.glyph}}"></i>{{control.showText ?
                control.label : ''}}
            </button>
        </div>
    </div>

    <div class="btn-group btn-group-md hidden-lg">
        <button ng-if="control.visible()" ng-disabled="control.disabled()" class="{{control.class}}"
                ng-repeat="control in task.controls" ng-class="control.uiClass"
                type="{{control.type}}" title="{{control.label}}"
                ng-click="control.action(task,$event)"><i class="{{control.glyph}}"></i>{{control.showText ?
            control.label : ''}}
        </button>
    </div>
</div>