<div class="form-group flow-form">
    <label ng-click="update()" column="12" class="control-label"
           for="{{name}}">

        <input style="position: absolute; left: -9999px; width: 1px; height: 1px;" name="{{name}}"
               ng-model="model"
               ng-disabled="disabled ? disabled : false"
               ng-required="required ? required : false"/>

        <span ng-if="disabled ? disabled : false" class="fluid-checkbox disabled">
            <i ng-if="model" class="fa fa-check-square-o" style="font-size: 20px;color: #d3d3d3"></i>
            <i ng-if="!model" class="fa fa-square-o" style="font-size: 20px;color: #d3d3d3"></i>
        </span>

        <span ng-if="disabled ? false : true" class="fluid-checkbox"
              type="button">
            <i ng-if="model" class="text-success fa fa-check-square-o" style="font-size: 20px"></i>
            <i ng-if="!model" class="fa fa-square-o" style="font-size: 20px;color: grey"></i>
        </span>

        {{label}}
        <span class="text-danger" ng-show='required'> *</span>
    </label>
</div>
