<div class="form-group flow-form">
    <div ng-transclude></div>
    <label column="12" class='control-label' for="{{name}}">{{label}}
        <span class="text-danger" ng-show='required'>*</span>

        <div class='input-group' name="{{name}}">
            <input ng-disabled='disabled' id='ctnr_{{id}}' href='#' title='{{label}}' readonly class='form-control'
                   ng-required='required' ng-click='look()' style='color:#000000;background: #ffffff'/><span
                ng-if='isNotModeled()' class='input-group-btn'>
            <button type='button' ng-disabled='disabled' class='btn btn-info' ng-click='look()'>
                <span class='fa fa-search'></span></button></span>
            <span ng-if='isModeled()' class='input-group-btn'>
            <button type='button' title='clear' class='btn btn-info' ng-disabled='disabled' ng-click='clear()'>
                <span class='fa fa-eraser'></span></button></span></div>
        </span>
    </label>

</div>
          