.fluid-panel-transition {
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.fluid-panel {
    background: gr;
    padding: 0px !important;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.fullscreen .fluid-panel {
    width: 100%;
}

.fluid-panel .fluid-task-icon img {
    -webkit-transform: scale(1.7, 1.7);
    transform: scale(1.7, 1.7);
    margin-bottom: -3px;
}

.fluid-panel .fluid-task-icon i {
    color: dimgrey;
}

.fullscreen .fluid-task-icon i {
    color: dimgrey;
}

.fluid-panel .containter {
    padding: 0;
    margin: 0;
}

.fluid-panel .panel-heading {
    padding: 0;
    min-height: 25px;
}

.fluid-panel .panel-title {
    margin-left: 5px;
}

.fluid-panel .panel-title .left {
    float: left;
    margin-right: 3px;
}

.fluid-panel .controls {
    float: right;
    right: 1px;
    padding: 0;
    margin-top: -2px;
    position: absolute;
}

.fullscreen .controls {
    float: right;
    right: 1px;
    padding: 0;
    position: absolute;
}

.fluid-panel .controls .small {
    margin-right: 5px;
    margin-bottom: -3px;
}

.fluid-panel .panel-body {
    padding: 0px;
}

.fluid-panel .toolbar {
    /*padding-top: 30px;*/
}

.fluid-panel .fluid-panel-heading-title {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
}

.fullscreen .fluid-panel-heading-title {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
}

.fluid-panel-icon-control {
    margin-right: 5px;;
}

.fluid-panel-page {
    border: none;
    min-height: 250px;
}

.fluid-panel-page-list {
    border: none;
    margin-top: -16px;
}

.fluid-panel-page-list-hidden {
    width: 0px;
    height: 0px;
}

.fluid-panel-content {
    margin-top: -16px;
}

.fluid-panel-loader {
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    width: 200px;
}

.fluid-panel-loader-fullscreen {

}

.fluid-panel .popover-content {
    padding: 0 !important;
    margin-bottom: -20px !important;
}

.popover-resize {
    width: 100px;
    /*  margin: 0px -15px -200px -15px;*/
}