.fluid-option {
    width: 100%;
    max-height: 0;
    background: rgba(228, 228, 228, 0.8) !important;
    z-index: 10;
    position: absolute;
    top: 43.5px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
}

.locked {
    top: 2px !important;
}

.fluid-option-bottom {
    bottom: 0;
}

.fluid-option-bottom a i {
    margin-right: 5px;
    margin-bottom: 2px;
}

.fluid-option-template {
    width: 100%;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    overflow-y: auto;
}

