.fluid-progress {

}

.fluid-progress-loading {

}

.fluid-progress .on-progress {
    display: none;
}

.fluid-progress .on-complete {

}

.fluid-progress .status {
    display: none;
}

.fluid-progress-loading .on-complete {
    display: none;
}

.fluid-progress-loading .on-progress {
}

.fluid-progress-loading .status {
}
