.fluid-breadcrumb {
    overflow: hidden;
    float: left;
    margin-right: -5px;
    max-height: 22px;
}

.fluid-breadcrumb .item {
    float: left;
    margin-left: 3px;
}

.fluid-breadcrumb .item .active {
    color: #81d186;
    background: none;
}

.fluid-breadcrumb .item .label {
    font: inherit;
    font-style: italic;
}

.fluid-breadcrumb .item:hover {
    cursor: pointer;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    outline: none;
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border-radius: 4px;
    box-shadow: 0 0 5px #00b3ee;
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #00b3ee;
}