.module-task {
    background: dimgrey;
}

.module-task .fluid-toolbar {
    background: #8699a4;
}

.module-task .btn .btn-info {
    background: #006666;
}

.module-task .panel {
    background: #e6e6e6;
}

.module-task .panel .panel-body {
    padding: 15px 0;
}

.module-task.panel-default .panel-heading {
    background: #8699a4;
}

.module-task .fluid-panel-heading-title {
    color: #fcf8e3;
}

.module-task .panel-primary .panel-heading {
    background: darkgrey;
}

.module-task .editor {
    min-height: 585px;
}

.module-task .nav .nav-pills {
    background: #3d4954;
}

.module-task .task-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.module-task .preview-frame {
    height: 580px;
    background: #fcf8e3;
}